body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5vh 15vh 5vh 15vh;
}

.navbar {
    display: flex;
    align-items: center;
    /* Para que me acompanie en la pagina al scrollear, junto a top 0 */
    position: sticky;
    top: 0;
    background-color: #4cb68f;
    padding: 10px 20px;
    /* Siempre por delante a todo en la pagina */
    z-index: 2;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: #3aa07b;
    border-radius: 6px;
}

.navbar .brand {
    font-size: 26px;
}

.navbar .nav-elements {
    display: flex;
}

.navbar .nav-elements a {
    margin-left: 20px;
}

/* Container Imagenes Home */

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 800px;
    margin: 20px auto;
    padding: 30px 0px 30px;
    opacity: 0;
    /* Animacion para mostrar las imagenes, ya que tardan algo en cargar al inicio */
    animation: fadeIn 2s linear forwards;
}

@keyframes fadeIn {
    /* keyframe de la animacion fadeIn */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.img-container>img {
    transition: transform 0.8s ease;
}

.img-container img:hover {
    /* Aplica filtro brillo */
    filter: brightness(1.08);
    transform: scale(1.150);
    cursor: pointer;
    /* Siempre por delante al resto de las imagenes al pasar el mouse */
    z-index: 1;
}

.img-container img {
    width: 100%;
    height: 27vh;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    /* object-fit: cover; usar para que la imagen se adapte al tamano del viewport*/
}

/* Tabla informacion supermercado Home */

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.info-table th,
.info-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.info-table th {
    background-color: #4cb68f;
    color: black;
}

.info-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.info-table .label {
    font-weight: bold;
    color: #555;
}

.info-table .td-value {
    color: black;
}

/* Product Card */

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    margin: 30px;
    padding: 25px;
    width: 350px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card li {
    margin: 10px 0;
    text-align: center;
}

.card input {
    width: 60px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.card button {
    background-color: #4cb68f;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #3a8c6b;
}

.prods-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }